<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello!</title>
</head>
<body>
    {{#if credentials}}
        <h1>Hello {{credentials.username}}!</h1>
    {{else}}
        <h1>Hello guest!</h1>
        <a href="/login">You can login here</a>
    {{/if}}
</body>
</html>